body {
  background-color: rgb(50,50,50);
  margin: 0px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

.container {
  background-color: rgb(240,240,240);
  min-height: 100vh;
}

.top-navigation {
  background-color: rgb(102,141,60);
  padding: 40px;
}

.top-navigation-title {
  color: white;
  text-align: center;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.continent-title {
  background-color: rgb(50,50,50);
  border-radius: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration-line: none;
  width: 380px;
}

.continent-title:hover {
  opacity: 0.5;
}